/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* Reset default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the font for the entire body */
body {
  font-family: "Manrope", sans-serif;
}

.sticky_header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
}
/* 
/* Sticky header styles */
/* .sticky_header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  background: white;
  box-shadow: 3px 3px -8px 3px #ddd;

} */ */

/* Sticky header styles */
.sticky_header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  background: white;
  box-shadow: 3px 3px -8px 3px #ddd;
}


/* Media query for mobile */
@media only screen and (max-width: 360px) {
  /* Navigation overlay */
  .navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #1010d9;
    display: none;
  }

  /* Menu styles for mobile */
  .menu {
    width: 15rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }

  /* Show the menu on button click */
  .show_menu .menu {
    display: block;
  }
}
